@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
 *{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
body{
    font-family:' roboto' , sans-serif;
    min-height: 729px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background-color: azure;
    border-radius: 0.4rem;
    position: relative;
    min-height: 729px;
    width: 100%;
}
.blue-bg{
    position: absolute;
top: 0;
left: 0;
width: 100%;
height:396px ;
background-color: rgb(221, 133, 101);
}
.white-bg{
    position: absolute;
top: 50%;
left: 0;
width: 100%;
height:396px ; 
background-color: white;
}
.converter-wrapper{
    min-width: 900px;
    background-color: white;
    border-radius: 0.4rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 3rem;
    box-shadow: 0 6px 6px -1px black;
}
.converter-wrapper h2{
    position: absolute;
    top:-70px;
    left:50%;
    width: 100%;
    transform: translate(-50%);
    color: white;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
}
.converter-inputs{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    column-gap: 3rem;
    align-items: center;
}
.converter-inputs > div{
    margin-bottom: 2rem;
}
.converter-inputs label{
   color:rgb(53, 42, 39);
   margin-bottom: 0.5rem;
   display: block;
}
.converter-inputs input, .converter-inputs select{
    border:1px solid white ;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.8rem;
    outline: 0;
    width: 100%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0!important;
}
.icon img{
    width: 50px;
}
.icon button{
    background: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icon button:hover{
    transform:  scale(1.1);
}
.result-wrapper{
    font-size: 1.4rem;
}
#from-result{
    color: rgb(231, 102, 55);
    font-weight: bold;
}
#to-result{
    color: rgb(8, 122, 107);
    font-weight: bold;
}
#convert-btn{
    background-color: rgba(192, 69, 24, 0.89);
    border: none;
    color:white;
    text-transform:uppercase ;
    font-family: inherit;
    font-size:1.2rem ;
    padding: 0.8rem 0.4rem;
    margin-top: 1.6rem;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .converter-wrapper h2{
        font-size: 2rem;
        top:-100px;
    }
    .converter-inputs {
        grid-template-columns: repeat(2, 1fr);
    }
    .converter-wrapper{
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-width: 400px;
    }
    .result-wrapper{
        font-size: 1.2rem;
    }
    #convert-btn{
        width: 100%;
    }
}
@media screen and (max-width:678px){
    .converter-wrapper{
min-width: 325px;
    }
}